// body {
//   background-image: url(/compback1.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
// }

.header-image__heart {
  background-image: url(/heart3.png);
  width: 250px;
  height: 250px;
  position: fixed;
  transform: scale(1.3);
  top: 16rem;
  left: 13rem;
  z-index: 3;
  background-repeat: no-repeat;
}
.header-image__heart:hover {background-image: url(/heart2.png);
  width: 250px;
  height: 250px;
  position: fixed;
  transform: scale(1.3);
  top: 16rem;
  left: 13rem;
  z-index: 1;
  background-repeat: no-repeat;}
.name {
  position: fixed;
  top: 10rem;
  left: 2rem;
  font-size: 3.5rem;
  font-weight: bold;
  transform: rotate(-30deg);
}

.first_letter {
  color: rgb(241, 164, 21);
  font-size: 5rem;
  font-family: fantasy;
  font-weight: bold;
}
